<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Prediction</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form action="" method="post">
        <label for="feature1">Feature1</label>
        <input type="text" name="feature1" id="feature1">
        
        <label for="feature2">Feature2</label>
        <input type="text" name="feature2" id="feature2">
    </form>
</body>
</html>